---
import Layout from '@/layouts/Layout.astro';
import { API_URLS } from '@/constants.ts';
export const prerender = false;
const { currentLocale } = Astro
const response = await fetch(API_URLS.ISLAND + Astro.params.island+'&lang='+currentLocale, {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json',
        'Authorization': import.meta.env.API_KEY
    }
})

const data = await response.json();
const island = data.island;
---

<Layout title='Creative'>
    <h1>{island.title}</h1>
    <p>{island.description}</p>
    <img src={island.image} alt={island.title} />
</Layout>
