---
import BaseSection from "@/components/BaseSection.astro";
import IslandCard from '@/components/IslandCard.astro';
import { getCreative } from '@/services/creative.ts'

const { currentLocale } = Astro

const data = await getCreative({lang: currentLocale});
const FIRST_ISLAND = 3
---
<BaseSection title={data[FIRST_ISLAND].category.label}>
    {
        data[FIRST_ISLAND].islands.map((island: any) => {
            return (
                <li>
                    <IslandCard 
                        code={island.islandCode} 
                        image={island.imgSrc} 
                        title={island.title} 
                    />
                </li>
            )
        })
    }
</BaseSection>