---
import BaseSection from "@/components/BaseSection.astro";
---

<BaseSection title="Shop">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</BaseSection>
<style>
    li {
        background-color: tomato;
        width: 100%;
        height: 180px;
        border-radius: 10px;
    }
</style>