---
import BaseSection from "@/components/BaseSection.astro";
import { API_URLS, URL_IMG } from "@/constants.ts";
import Card from "@/components/Card.astro";

const { currentLocale } = Astro

const response = await fetch(API_URLS.ITEM_SHOP+'?lang='+currentLocale, {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json',
        'Authorization': import.meta.env.API_KEY
    }
})
const data = await response.json();
const items = data.shop.filter((item: any) => item.mainType === 'outfit');
---
<BaseSection title="Shop">
    {
        items &&
        items.map((item: any) => {
            return (
                <li>
                    <Card 
                        href={`/cosmetic/${item.mainId}`} 
                        image={URL_IMG(item.displayAssets[0].materialInstance.toLowerCase())} 
                        title={item.displayName} 
                    />
                </li>
            )
        })
    }
</BaseSection>
