---
import Counter from '@/components/Counter.astro';
interface Props {
    title: string;
    description: string;
    time: string | number;
    image?: string;
}
const { title, description, time, image } = Astro.props;
const url = 'https://media.fortniteapi.io/images/displayAssets/v2/BattleRoyale/DAv2_Sparks_Keytar_Wafer/MI_Sparks_Keytar_Wafer.png'
---

<section
    class="overflow-visible relative max-w-sm mx-auto lg:max-w-none bg-white shadow-lg ring-1 ring-black/5 rounded-xl flex items-center gap-6 dark:bg-slate-800 dark:highlight-white/5">
    <div data-image={image ? image : url} hidden> </div>
    <div class="flex flex-col py-5 pl-24">
        <h2 class="text-slate-900 text-lg font-medium dark:text-slate-200">{title}</h2>
        <Counter time={time as number} class="text-slate-500 text-sm font-medium dark:text-slate-400"/>
        <p class="text-slate-900 text-sm font-medium dark:text-slate-200 max-w-lg">{description}</p>
    </div>
</section>


<script is:inline> 
    window.addEventListener('DOMContentLoaded', () => {
        const image = document.querySelector('[data-image]')

        if (image ) {
            const img = document.createElement('img')
            img.src = image.getAttribute('data-image')
            img.classList.add('absolute', '-left-6', 'w-24', 'h-24', 'rounded-full','shadow-lg')
            image.outerHTML = img.outerHTML
        }
    })
</script>