---
const url = 'https://media.fortniteapi.io/images/displayAssets/v2/BattleRoyale/DAv2_Sparks_Keytar_Wafer/MI_Sparks_Keytar_Wafer.png'
---

<section class="w-full mx-auto flex items-center justify-around">
    <picture class="max-w-[200px] w-full bg-slate-200 rounded-full">
        <img src={url} alt="time" class="w-full" />
    </picture>
    <div class="timer w-full max-h-[120px] bg-sky-700 rounded-r-full flex items-center justify-between">
        <div class="w-full p-6">
            <h2 class="text-lg font-bold text-white my-4">
                New Items in:
            </h2>
            <p class="text-lg font-normal text-white">
                Stay tuned for the latest Fortnite cosmetics updates once the countdown reaches zero, with new items every day!
            </p>
        </div> 
        <div class="w-full p-6 max-w-[100%] md:max-w-[30%]">
            <strong class="w-full text-5xl font-bold text-white">00:00:00</strong>
        </div>
    </div>
</section>