---
interface Props {
    title: string;
    class?: string;
}
const { title, class:ClassName } = Astro.props;
const olDefaultClass = 'w-full mx-auto grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4: lg:grid-cols-5 gap-6'
const cl = ClassName || olDefaultClass
---

<section class="w-full mx-auto p-6 bg-gray-800 rounded-2xl ">
    <h2 class="text-lg font-black text-gray-900 dark:text-white my-4 italic uppercase">{title}</h2>
    <ol class={cl}>
        <slot/> 
    </ol>
</section>
