---
import ItemNav from "@/components/ItemNav.astro";
import Menu from "@/components/icons/Menu.astro";
import LangSelector from "@/components/LangSelector.astro";

import { getLangFromUrl, useTranslations, urlForLang } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang); 
---

<header class="flex items-center justify-between lg:justify-around flex-row p-2 gap-x-3 my-4 relative bg-[#ffffff0f] rounded-full w-[96%] mx-auto lg:mx-0 lg:w-full lg:rounded-none lg:bg-transparent">
  <a href={urlForLang(lang, '/')} class="flex lg:hidden">
    <img src="https://ifortnite.com/logo.png" alt="logo" class="w-full h-8"/ width="148" height="36">
  </a>
  <nav class="w-full hidden lg:flex items-center justify-around flex-col lg:flex-row absolute lg:relative space-x-3 gap-x-3 p-4 bg-indigo-950 rounded-lg top-0 left-0 z-50 mt-[64px] lg:mt-0 lg:rounded-full lg:top-auto lg:left-auto lg:z-auto ">
    <ItemNav href={urlForLang(lang, '/')}> {t('nav.home')}</ItemNav>
    <ItemNav href={urlForLang(lang, '/cosmetics')}>{t('nav.cosmetics')}</ItemNav>
    <ItemNav href={urlForLang(lang, '/creative')}>{t('nav.creative')}</ItemNav> 
    <ItemNav href={urlForLang(lang, '/shop')}>{t('nav.shop')}</ItemNav>
    <ItemNav href={urlForLang(lang, '#')}>{t('nav.more')}</ItemNav>
  </nav>
  <span class="w-content hidden lg:flex py-4 px-2 sm:px-2 gap-x-3.5 text-gray-900 dark:text-white">
    <div class="font-bold text-sm leading-none text-right ">
      <div class="text-2xs">
        <span class="text-accent">Code:</span></div>
      <div class="leading-tight">CREATORFTN</div>
    </div>
  </span>
  <LangSelector />
  <div class=" lg:hidden pr-2">
    <Menu/>
  </div>
</header>
