---
import ItemNav from "./ItemNav.astro";
---

<header class="w-full mx-auto flex items-center justify-around flex-col lg:flex-row p-2 gap-x-3 my-4">
  <nav class="w-full flex items-center justify-around flex-col lg:flex lg:flex-row space-x-3 gap-x-3 p-4 bg-indigo-950 rounded-full">
    <ItemNav href="/">Home</ItemNav>
    <ItemNav href="/cosmetics">Cosmetics</ItemNav>
    <ItemNav href="/creative">Creative</ItemNav> 
    <ItemNav href="/shop">Shop</ItemNav>
    <ItemNav href="#">More</ItemNav>
  </nav>
  <span class="w-content flex py-4 px-2 sm:px-2 gap-x-3.5 text-gray-900 dark:text-white">
    <div class="font-bold text-sm leading-none text-right ">
      <div class="text-2xs">
        <span class="text-accent">Code:</span></div>
      <div class="leading-tight">CREATORFTN</div>
    </div>
  </span>
</header>
