---
import Link from '@/components/Link.astro';
interface Props {
    code: string;
    image: string;
    title: string;
}
const { code, image, title } = Astro.props;
---
<Link href={`/creative/${code}`}>
    <article class="w-full relative">
        <header>
            <picture>
                <img 
                    src={image} 
                    alt={title} 
                    loading="lazy" 
                    width="100%" 
                    height="100%" 
                    class="w-full rounded-2xl aspect-[3/2]"
                />
            </picture>
        </header>
        <footer class="w-full absolute bottom-0 left-0 bg-gradient-to-t	from-gray-900 to-transparent">
            <h3 class="text-sm font-nomal text-slate-200 my-2 mx-4">{title}</h3>
        </footer>
    </article>
</Link>

<style>
    article:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: all .2s ease-in-out;
        
    }
</style>