<div class="js-mobile-menu p-t-[64px] fixed left-0 top-[64px] z-50 block h-[calc(100dvh-64px)] w-full translate-x-full overflow-auto bg-white dark:bg-gray-700 py-5 text-primary dark:text-white transition-transform duration-300 lg:hidden">
    <div class="container">
      <!-- Navigation (Mobile) -->
      <ul class="flex flex-col font-bold">
        <li class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200/50 dark:border-b-gray-200/10">
          <a class="flex-grow gap-x-1 py-4 leading-normal text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-index.html">
            Home
          </a>


        </li>
        <li class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200/50 dark:border-b-gray-200/10">
          <a class="flex-grow gap-x-1 py-4 leading-normal text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-streams-4.html">
            Streams
          </a>


        </li>
        <li class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200/50 dark:border-b-gray-200/10">
          <a class="flex-grow gap-x-1 py-4 leading-normal text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-blog.html">
            Blog
          </a>

          <button class="js-mobile-submenu-toggle ml-auto inline-flex h-7 w-7 items-center justify-center transition-transform">
            <svg role="img" class="sub-menu-toggle h-1.5 w-1.5 fill-accent">
              <use xlink:href="assets/img/str1/sprite.svg#plus"></use>
            </svg>
          </button>

          <ul class="flex max-h-0 w-full flex-col overflow-hidden pl-4 text-sm transition-all duration-300 [&>li:last-child]:pb-4">
            <li class="flex flex-wrap items-center gap-x-4">

              <a class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-blog.html">
                Blog Feed
              </a>

            </li>
            <li class="flex flex-wrap items-center gap-x-4">

              <a class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-single.html">
                Blog Post V1
              </a>

            </li>
            <li class="flex flex-wrap items-center gap-x-4">

              <a class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-single-2.html">
                Blog Post V2
              </a>

              <button class="js-mobile-submenu-toggle ml-auto inline-flex h-7 w-7 items-center justify-center transition-transform">
                <svg role="img" class="sub-menu-toggle h-1.5 w-1.5 fill-accent">
                  <use xlink:href="assets/img/str1/sprite.svg#plus"></use>
                </svg>
              </button>

              <ul class="flex max-h-0 w-full flex-col overflow-hidden pl-4 transition-all duration-300">
                <li class="flex flex-wrap items-center gap-x-4">
                  <a class="flex-grow gap-x-1 py-2 transition-colors hover:text-accent" href="_str1-single.html">
                    Another Item
                  </a>
                </li>
                <li class="flex flex-wrap items-center gap-x-4">
                  <a class="flex-grow gap-x-1 py-2 transition-colors hover:text-accent" href="_str1-single-2.html">
                    Other Level Item
                  </a>
                </li>
              </ul>

            </li>
          </ul>

        </li>
        <li class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200/50 dark:border-b-gray-200/10">
          <a class="flex-grow gap-x-1 py-4 leading-normal text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-about.html">
            About
          </a>


        </li>
        <li class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200/50 dark:border-b-gray-200/10">
          <a class="flex-grow gap-x-1 py-4 leading-normal text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-sponsors.html">
            Sponsors
          </a>


        </li>
        <li class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200/50 dark:border-b-gray-200/10">
          <a class="flex-grow gap-x-1 py-4 leading-normal text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-events.html">
            Events
          </a>

          <button class="js-mobile-submenu-toggle ml-auto inline-flex h-7 w-7 items-center justify-center transition-transform">
            <svg role="img" class="sub-menu-toggle h-1.5 w-1.5 fill-accent">
              <use xlink:href="assets/img/str1/sprite.svg#plus"></use>
            </svg>
          </button>

          <ul class="flex max-h-0 w-full flex-col overflow-hidden pl-4 text-sm transition-all duration-300 [&>li:last-child]:pb-4">
            <li class="flex flex-wrap items-center gap-x-4">

              <a class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-single-event.html">
                Single Event
              </a>

            </li>
          </ul>

        </li>
        <li class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200/50 dark:border-b-gray-200/10">
          <a class="flex-grow gap-x-1 py-4 leading-normal text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-contact.html">
            Contact
          </a>


        </li>
        <li class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200/50 dark:border-b-gray-200/10">
          <a class="flex-grow gap-x-1 py-4 leading-normal text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-shop.html">
            Shop
          </a>

          <button class="js-mobile-submenu-toggle ml-auto inline-flex h-7 w-7 items-center justify-center transition-transform">
            <svg role="img" class="sub-menu-toggle h-1.5 w-1.5 fill-accent">
              <use xlink:href="assets/img/str1/sprite.svg#plus"></use>
            </svg>
          </button>

          <ul class="flex max-h-0 w-full flex-col overflow-hidden pl-4 text-sm transition-all duration-300 [&>li:last-child]:pb-4">
            <li class="flex flex-wrap items-center gap-x-4">

              <a class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-shop.html">
                Shop Page
              </a>

            </li>
            <li class="flex flex-wrap items-center gap-x-4">

              <a class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-single-product.html">
                Single Product
              </a>

            </li>
            <li class="flex flex-wrap items-center gap-x-4">

              <a class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-cart.html">
                Cart
              </a>

            </li>
            <li class="flex flex-wrap items-center gap-x-4">

              <a class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-checkout.html">
                Checkout
              </a>

            </li>
            <li class="flex flex-wrap items-center gap-x-4">

              <button class="js-vv-modal__open-btn-login-register flex-grow gap-x-1 py-2 text-left text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" data-id="login-register">
                Login/Register
              </button>

            </li>
            <li class="flex flex-wrap items-center gap-x-4">

              <a class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="_str1-account.html">
                Account
              </a>

            </li>
          </ul>

        </li>
      </ul>
      <!-- Navigation (Mobile) / End -->
    </div>
  </div>