---
import type { Item } from "@/models/shop.type.ts";
import ItemSection from "@/components/ItemSection.astro";

interface Props {
    name: string;
    id: string;
    priority: number;
    shop: Item[];
}

const {id, shop, name } = Astro.props;
shop.sort((a,b) => b.price.regularPrice - a.price.regularPrice)
---

<article class="w-full" id={id}>
    <h2 class="text-lg font-black text-gray-900 dark:text-white my-4 italic uppercase">{name}</h2>
    <ol class="mx-auto h-[250px] md:h-[370px] max-h-full grid grid-rows-2 gap-4 grid-flow-col p-4 w-full auto-cols-[100px] md:auto-cols-[200px] pl-3 overflow-x-auto">
        {
            shop.map((item) => (
                <ItemSection item={item}/>
            ))
        }
    </ol> 
</article>