---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'
import BaseHead from '@/components/BaseHead.astro';
import '@fontsource-variable/inter';

interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
const { currentLocale } = Astro
---

<!doctype html>
<html lang={currentLocale} class="h-full dark">

<head>
	<BaseHead title={title} description={description} />
</head>

<body
	class="relative z-10 antialiased font-base text-gray-500 text-sm font-medium lg:text-base h-full bg-white dark:bg-gray-900 overflow-x-hidden dark:text-gray">
	<div id="site-wrapper" class="max-w-[1420px] mx-auto flex flex-col js-site-wrapper">
		<Header/>
		<main id="main-content" class="grow lg:pt-0 mt-10 flex flex-col gap-y-10 px-4">
			<slot />
		</main>
		<Footer/>
	</div>
</body>

</html>
