---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full dark">

<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Astro description" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap" rel="stylesheet">
	<title>{title}</title>
</head>

<body
	class="relative z-10 antialiased font-base text-gray-500 text-sm font-medium lg:text-base h-full bg-white dark:bg-gray-900 overflow-x-hidden dark:text-gray">
	<div id="site-wrapper" class="max-w-screen-xl mx-auto flex flex-col h-full js-site-wrapper">
		<Header/>
		<main id="main-content" class="grow lg:pt-0 mt-10 flex flex-col gap-y-10 px-4">
			<slot />
		</main>
		<Footer/>
	</div>
</body>

</html>
